# soybeans/Automatic/automatic_order.py: 1
# soybeans/Work/browser_work_distributor.py: 2
# soybeans/Work/worker.py: 10
# soybeans/server.py: 1
CherryPy == 18.6.0

# soybeans/server.py: 2
cherrypy_cors == 1.6

# soybeans/Store/DbHolder.py: 5
# soybeans/Store/base_model.py: 1
# soybeans/Store/saved_dinner.py: 1
# soybeans/Store/user.py: 1
# soybeans/venv/bin/pwiz.py: 8,9,10,11,12
peewee == 3.14.4

# soybeans/Store/DbHolder.py: 3
# soybeans/server.py: 16
psycopg2_binary == 2.8.6

# soybeans/Store/DbHolder.py: 1
# soybeans/Work/worker.py: 13
# soybeans/server.py: 28
python_dotenv == 0.17.1

# soybeans/Work/jidelna_webapp_handler.py: 3,4,8
# soybeans/Work/worker.py: 1
selenium == 3.141.0


schedule == 1.1.0
